body {
  background-color: #7FDBFF;
}

.container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 5%;
  h1 {
    font-weight: bold;
    text-align: center;
  }
  h3, .month, .day, .year, .button {
    margin-top: 5%;
  }

  #result {
    text-align: center;
    margin-top: 10%;
    font-size: 2em;
    font-weight: bold;
  }
}
